name: rebalanceeirncli

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - uses: szenius/set-timezone@v1.2
        with:
          timezoneLinux: 'America/Sao_Paulo'

      - name: Install Dependencies
        run: yarn --frozen-lockfile

      - name: Run Tests
        run: yarn test
